<h1 id="campusHeader">Campus Map</h1>

<div id="mapContentContainer">
    <div id="selectProfessor">
        <h3 id="professorSelectHeader">Select a professor!</h3>
        <hr class="headerSeperator">
        <div class="professorItem">
            <img src="dummy.png" width="105" height="105" class="profImage" />
            <div class="profMapInfo">
                <h4 class="profMapName">Name</h4>
                <p class="profMapDept">Department</p>
                <p class="profMapTopic">Topic</p>
                <p class="profMapBuilding">Building</p>
            </div>
            <hr class="headerSeperator">
        </div>
        <div id="campusMapGoogle">
            <h3 id="mapGoogleHeader">Select a professor to view their corresponding building!</h3>
            <hr class="headerSeperator">
            <!-- Put google map here -->
        </div>
    </div>
</div>