<body>
    <h1 id="campusHeader">Campus Map</h1>

    <div class="wrapper">
        
        <div id="selectProf" class="background-gold">
            <h2 class="sectionHeader">Select a professor!</h2>
            <hr id="headerSeperator">

            <div class="nested">
                <div class="verticalFrame">
                    <img src="/img/placeholder.png" width="200" height="200" class="profImage" />
                </div>
                <div id="profItemCenter">
                    <div class="doubleNested">
                        <p class="profName">Professor X</p>
                        <p class="profDept">Department</p>
                        <p class="profBuilding">Office Location</p>
                    </div>
                </div>
            </div>

            <hr id="headerSeperator">

            <div class="nested">
                <div class="verticalFrame">
                    <img src="/img/placeholder.png" width="200" height="200" class="profImage" />
                </div>
                <div id="profItemCenter">
                    <div class="doubleNested">
                        <p class="profName">Professor X</p>
                        <p class="profDept">Department</p>
                        <p class="profBuilding">Office Location</p>
                    </div>
                </div>
            </div>

            <hr id="headerSeperator">

            <div class="nested">
                <div class="verticalFrame">
                    <img src="/img/placeholder.png" width="200" height="200" class="profImage" />
                </div>
                <div id="profItemCenter">
                    <div class="doubleNested">
                        <p class="profName">Professor X</p>
                        <p class="profDept">Department</p>
                        <p class="profBuilding">Office Location</p>
                    </div>
                </div>
            </div>

            <hr id="headerSeperator">

            <div class="nested">
                <div class="verticalFrame">
                    <img src="/img/placeholder.png" width="200" height="200" class="profImage" />
                </div>
                <div id="profItemCenter">
                    <div class="doubleNested">
                        <p class="profName">Professor X</p>
                        <p class="profDept">Department</p>
                        <p class="profBuilding">Office Location</p>
                    </div>
                </div>
            </div>

            <hr id="headerSeperator">

        </div>
        <div id="googleMap" class="background-gold">
            <h2 class="sectionHeader">Professor's Research Building</h2>
            <hr id="headerSeperator">
            <div id="map"></div>
        </div>
    </div>
    
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=KEY&v=weekly" async defer></script>
</body>