<body>
    <h1 id="campusHeader">Campus Map</h1>

    <div class="wrapper">
        
        <div id="selectProf" class="background-gold">
            <h2 class="sectionHeader">Select a professor!</h2>
            <hr id="headerSeperator">

            {{#each randomSubset }}
                <div class="nested">
                    <div class="verticalFrame">
                        <img src={{ professorImage }} width="200" height="200" class="profImage" />
                    </div>
                    <div id="profItemCenter">
                        <div class="doubleNested">
                            <p class="profName">{{ professorName }}</p>
                            <p class="profDept">{{ profDepartment }}</p>
                            <p class="profBuilding">{{ professorOffice }}</p>
                        </div>
                    </div>
                </div>

                <hr id="headerSeperator">
            {{/each}}

        </div>
        <div id="googleMap" class="background-gold">
            <h2 class="sectionHeader">Professor's Research Building</h2>
            <hr id="headerSeperator">
            <div id="map"></div>
        </div>
    </div>
    
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAic6QwXp-HJCvZ4IOHtGry8xdtAA-E17A&v=weekly" async defer></script>
    <script type="module" src="/JavaScript/googleMaps.js" async defer></script>
</body>