<div id="devTeamContainer">
    <h2 class="sectionHeader">ResearchMyProfessor Development Team</h2>
    <hr class="headerSeperator">

    {{! Maybe store information in database, then iterator over object to 1 single card...}}
    <div class="devElement">
        <img src="" class="devImage" width="144" height="157" />
        <p class="devName">Developer Name</p>
        <p class="devRole">Developer Role</p>
        <p class="devContact">Developer Contact</p>
    </div>

    <div class="devElement">
        <img src="" class="devImage" width="144" height="157" />
        <p class="devName">Developer Name</p>
        <p class="devRole">Developer Role</p>
        <p class="devContact">Developer Contact</p>
    </div>

    <div class="devElement">
        <img src="" class="devImage" width="144" height="157" />
        <p class="devName">Developer Name</p>
        <p class="devRole">Developer Role</p>
        <p class="devContact">Developer Contact</p>
    </div>

    <div class="devElement">
        <img src="" class="devImage" width="144" height="157" />
        <p class="devName">Developer Name</p>
        <p class="devRole">Developer Role</p>
        <p class="devContact">Developer Contact</p>
    </div>

    <div class="devElement">
        <img src="" class="devImage" width="144" height="157" />
        <p class="devName">Developer Name</p>
        <p class="devRole">Developer Role</p>
        <p class="devContact">Developer Contact</p>
    </div>

</div>

<div id="contactContainer">
    <h2 class="sectionHeader">UNCC Contact</h2>
    <hr class="headerSeperator">

    <img src="img/contactPage.png" id="contactImage" width="304" height="147" />
    <div id="contactInfoContainer">
        <p id="contactInfo">UNC Charlotte<br>9201 University City Blvd.<br>Charlotte, NC 28223<br>Phone: 704-687-5507<br>Fax: 704-687-1664</p>
        
        <div id="officeHoursContainer">
            <h4 id="officeHoursHeader">Office Hours</h4>
            <p id="officeHours">8:00 AM - 5:00PM EST<br>Monday-Friday</p>
        </div>

        <div id="mailingAddressContainer">
            <h4 id="mailingAddressHeader">Mailing Address</h4>
            <p id="mailingAddress">Niner Central<br>UNC Charlotte<br>380 Cone Center<br>9201 University City Blvd.<br>Charlotte, NC 28223-001</p>
        </div>
    </div>
</div>