<h1>Password Reset</h1>
<h4>Forgot your password? Reset it here!</h4>

<form method="POST" action="/user/password">
  <label for="password">New Password</label>
  <input type="password" name="password"  class="inputElement"/><br /><br />


  <label for="confirmPassword">Confirm Password</label>
  <input type="password" name="confirmPassword"  class="inputElement"/><br />

  <input type="submit" class="submitButton"/>
</form>
