<body>
<head>
    <link rel="stylesheet" href="/css/profProfile.css">
</head>
   <main>     
            <div class="image">
                <img src="/img/canvas.png" width="125" height="125" />
            </div>
            <div class="headlineItem">   
                <p>John Doe</p>
                <p>UNCC Professor</p>
                <p>(insert department)</p>
            </div>
          <button class='button button1'>
              Contact Info
           </button>
           <button class='button button2'>
              Reviews
           </button>
           <button class='button button3'>
              Classes Taught
           </button>  
          <div class = 'profDescrip'>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
          </div>
      </div>
    </main>
</body>       
