<body>
<head>
  <link rel="stylesheet" href="/css/register.css">
</head>
<main>
  <div class= 'box'>
    
    <div class='create'>
      <p>Create an Account</p>
    </div>

    <form action='/register' method='POST'>
      <div id="container">
        <div class="registerItem">
          <label for="firstName">First Name:</label>
          <input type='text' name='firstName' />
        </div>

        <div class="registerItem">
          <label for="lastName">Last Name:</label>
          <input type='text' name='lastName'/>
        </div>

        <div class="registerItem">
            <label for="email">Email:</label>
            <input type='text' name='email' />
        </div>

        <div class="registerItem">
          <label for="username">Username:</label>
          <input type='text' name='username' />
        </div>

        <div class="registerItem">
          <label for="password">Password:</label>
          <input type='password' name='password' />
        </div>
      </div>
      <br>
      <br>
      <button>submit</button>

      <div class='extraText'>
        <p> Don't have an account? Register HERE </p>
      </div>

    </form>
  </div>
</main>
</body>