<body>
  <head>
    <link rel="stylesheet" href="/css/register.css">
  </head>

  <main>
    <div class='create'>
      <p>Create an Account</p>
    </div>

    <div id="container">
      <form action='/register' method='POST'>

        <div class="registerItem">
          <label for="firstName" class="labelText">First Name:</label>
          <input type='text' name='firstName' class="inputElement" />
        </div>

        <div class="registerItem">
          <label for="lastName" class="labelText">Last Name:</label>
          <input type='text' name='lastName' class="inputElement" />
        </div>

        <div class="registerItem">
          <label for="email" class="labelText">Email:</label>
          <input type='text' name='email' class="inputElement" />
        </div>

        <div class="registerItem">
          <label for="username" class="labelText">Username:</label>
          <input type='text' name='username' class="inputElement" />
        </div>

        <div class="registerItem">
          <label for="password" class="labelText">Password:</label>
          <input type='password' name='password' class="inputElement" />
        </div>
          
        <br>
        <br>

        <div>
          <input class='submitButton' type='submit' />
        </div>

        <div class='extraText'>
          <p>Already have an account? Login <a href="/login">HERE</a></p>
        </div>

      </form>
    </div>
  </main>
</body>