<!--<body>
  ATTEMPT 1
  <head>
    <link rel="stylesheet" href="search.css">
    <script src="search.js"></script>
  </head>

  <div class = "search-wrapper">
      <label for = "search"> Search</label>
      <input id="searchbar" onkeyup="search()" type="text" name="search">
      <ul id="list-holder"></ul>
  </div>


</body>-->


<!--<!DOCTYPE html>
 <html lang="en">
 ATTEMPT 2
 <head>
  <meta charset="UTF-8">
  <title>Search</title>
</head>

<body>
  <div class="container" style="padding:50px 250px;">
    <h1>Search Research</h1>
    <form role="box">
      <div class="form">
        <input type="input" class="input" id="txt-search" placeholder="Type your search here">
        </div>
        </form>
    </div>
  </body>
</html>-->

<!--<!DOCTYPE html>
<html>
 <head>
  <title>Search Research</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src = "search.js"></script>
 </head>
 
 <body>
  <br /><br />
  <div class="container" style="width:900px;">
   <h2 align="center">Placeholder Name</h2>
   <h3 align="center">Professor Data</h3>   
   <br /><br />
   <div align="center">
    <input type="search" placeholder="Seach Professor Deatails" name="search" id="search">
   </div>
   <div id="update"></div>
   <br />
  </div>
  </body>
</html>-->

<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" herf = "search.css">
    <title>Placeholder</title>
    <div id = "canvas" class = "container group">
      <div id = "primary_content" class = "group">
        <div id = "search area">
          <label for = "search">Placeholder</label>
          <p>placeholder</p>
          <input type = "search" placeholder="placeholder" name = "search" id = "search">
        </div>
        <div id = "update"></div>
      </div>
    </div>
    <script src = "searchController.js"></script>
  </head>
</html>

<!--<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel = "stylesheet" herf = "search.css">
        <title>Placeholder</title>
    </head>
    <body>
        <div class = "container mt-5">
            <div class = "row">
                <div class = "col-md-6 m-auto">
                    <h3 class = "text-center mb-3">
                        <i class = "asdf"></i>
                        Placeholder
                    </h3>
                    <div class = "form-group">
                        <input 
                        type = "text" 
                        id = "search" 
                        class = "form-control form-control-lg"
                        placeholder = "Enter Professor Details"
                        />
                    </div>
                    <div id = "match-list"></div>
                </div>
            </div>
        </div>
        <script src = "search.js"></script>
    </body>
</html>-->