<head>
  <link rel="stylesheet" href="/css/searchResearchClass.css">
</head>

<h1 id="pageHeader">Search for Professors who research at UNCC!</h1>
<div id="formContainer">
  <h2 id="subPageHeader">Enter a professor name to find their research portfolio...</h2>
  <hr class="headerSeperator" />
  <form method="POST" action="/search/" id="researchForm">
    <fieldset id="mainInfo" class="fieldsetPadding">
        <legend class="researchLegend">Search via Professor Name!</legend>
        <div id="mainContent">
          <label for="profName" id="inputLabel">Professor Name:</label>
          <br />
          <input type="text" name="profName" id="researchInput" required /> <br /><br />

          <div id="flex">
            <input type="submit" class="submitButton" />
          </div>
        </div>
    </fieldset>
  </form>

  <hr class="headerSeperator" />

  <div id="classContext">
    <p id="contextText">This search page allows users to search for a specific professor based on their name. The user can locate this professor by typing in their name and then hitting the submit button. There are many different professors who perform research at UNCC, so type in your favorite professors name and see what kind of research they do at the university!</p>
  </div>
</div>