body {
  font-family: Roboto;
  margin: 0em;
  background-color: #E1E1E1;
}

nav {
  background-color: #004525;
  height: 23%;
  width: 100%;
  color: white;
}

#login-banner {
  background-color: #817032;
  margin-top: 0em;
  height: 3%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#login-banner > p {
  padding-left: 0.5em;
  padding-right: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.right > p {
  padding-left: 0.5em;
  padding-right: 1em;
  margin-top: 0.25em;
  margin-bottom: 1em;
}

main {
  margin: 0.5em;
}

#icon {
  width: 134px;
  margin: 3vh 2vw 3vh 2vw;
}

#nav-banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex {
  display: flex;
}

.invert {
  filter: invert(1)
}

.center {
  align-items: center;
}

.space-around {
  justify-content: space-around
}

h1 {
  font-family: Roboto Thin;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #222222;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icon {
  width: 2vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

.squished {
  margin-top: 0em;
  margin-bottom: 0em;
  padding-right: 1em;
  font-size: 0.75em;
}
