@import "vars.css";
@import "layout.css";
@import "helpers.css";

.right > p {
  padding-left: 0.5em;
  padding-right: 1em;
  margin-top: 0.25em;
  margin-bottom: 1em;
}

#icon {
  width: 134px;
  margin: 3vh 2vw 3vh 2vw;
}

#nav-banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h1 {
  font-family: Roboto Thin;
}

#home-grid {
  display: grid;
  grid-template-areas:
    "news banner"
    "news banner"
    "news banner"
    "breakdown breakdown"
    "breakdown breakdown";
  grid-template-columns: 2fr 3fr;
  justify-items: center;
}

#home-grid > div {
  background-color: var(--rmp-green);
  padding: 10px;
  color: white;
}

h2 {
  font-family: Roboto Light;
  text-align: center;
}

hr {
  height: 7px;
  color: var(--rmp-gold);
  background-color: var(--rmp-gold);
}
