@import "vars.css";
@import "layout.css";
@import "helpers.css";
/* @import "profile.css"; */

.right > p {
  padding-left: 0.5em;
  padding-right: 1em;
  margin-top: 0.25em;
  margin-bottom: 1em;
}

#icon {
  width: 134px;
  margin: 3vh 2vw 3vh 2vw;
}

#nav-banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h1 {
  font-family: Roboto Thin;
}

#home-grid {
  display: grid;
  grid-template-areas:
    "news banner"
    "news banner"
    "news banner"
    "breakdown breakdown"
    "breakdown breakdown";
  grid-template-columns: 2fr 3fr;
  justify-items: center;
}

#home-grid > div {
  background-color: var(--rmp-green);
  padding: 10px;
  color: white;
}

h2 {
  font-family: Roboto Light;
  text-align: center;
}

hr {
  height: 7px;
  border: 1px black solid;
  color: var(--rmp-gold);
  background-color: var(--rmp-gold);
}

#asideNewsContainer {
  margin-right: 2%;
}

#aboutResearchContainer {
  margin-left: 2%
}

#aboutDescription {
  padding: 20px;
}

.imageCenter {
  margin-left: auto;
  margin-right: auto;
  width: 50;
  display: block;
}

.headerTitle {
  text-decoration: underline;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
}

.UNCCDepartments {
  display: flex;
  flex-direction: column;

}

.deptInfo {
  padding-left: 5px;
}

.deptDesc {
  padding-left: 5px;
}

.informationColumn {
  display: flex;
  flex-direction: row;
}

.articleTeaser {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

#grantBreakdown {
  margin-top: 2%;
  display: block;
  margin-left: 110%;
}

.barChart {
  display: block;
}

.feedDate {
  font-size: 18px;
  text-align: center;
}

.feedHeader {
  font-size: 22px;
  text-align: center;
}

/* Apply some sort of JavaScript front end script to animate success and error messages! It would make it look even better! */
.flash-success {
  padding: 10px;
  background-color: green;
  color: white;
  border: 2px solid black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 22px;
  margin-bottom: 1%;
}

.flash-errors {
  padding: 10px;
  background-color: #FF3131;
  color: white;
  border: 2px solid black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 22px;
  margin-bottom: 1%;
}
