@import "vars.css";
@import "helpers.css";

body {
  font-family: Roboto;
  margin: 0em;
  background-color: var(--rmp-gray);
}

nav {
  background-color: var(--rmp-green);
  height: 23%;
  width: 100%;
  color: white;
}

main {
  margin: 0.5em;
}

/* Fixing the footer to make it stay at the bottom. Page will be relative and have a minimum of 100% height. This will make the position of the footer at the bottom even if there isnt enough content. (Footer will be aboslute to this relative) */
#pageWrapper {
  position: relative;
  min-height: 100vh;
}

/* Provide space in between content and the footer on page. */
#contentWrapper {
  padding-bottom: 6rem;
}

/* Footer is now absolute on the bottom of the page. It is relative to the page wrapper that has a min height of 100% */
footer {
  position: absolute;
  bottom: 0;
  background-color: var(--rmp-dark);
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

strong {
  font-family: Roboto Black;
}

#login-banner {
  background-color: var(--rmp-gold);
  margin-top: 0em;
  height: 3%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#login-banner > p {
  padding-left: 0.5em;
  padding-right: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.navListItem {
  list-style: none;
}

.pushOff {
  margin-right: 2%;
}

.navMargin {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 0;
  text-align: center;
}

.placeholderButton {
  background: inherit;
  border: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
}

.placeholderButton:hover {
  font-weight: bold;
}

.dropdown {
  position: relative;
}

.dropdownSelect {
  position: absolute;
  left: 0;
  top: calc(100% + .001rem); /* Get 100% of the top, then add .25rem to the top of an element. This will create a buffer in between elements */  
  background-color: var(--rmp-green);
  padding: 1rem;
  border-radius: .2rem;
  box-shadow: 0 2px 45px 0 rgba(0, 0, 0, .3);
  text-align: center;
  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 170ms ease-in-out, transform 170ms ease-in-out;
}

/* Show the link within the dropdown div and then get the dropdown select menu along with it when element focussed */
.dropdown > .placeholderButton:focus + .dropdownSelect {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.itemText {
  margin: 0;
  padding: 5px;
  border: 3px solid white;
  border-radius: 7px;
}
