@import "vars.css";
@import "layout.css";
@import "helpers.css";

#firstSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  background-color: var(--rmp-green);
}

#secondSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: var(--rmp-green);
}

#profInformation {
  margin-right: 1rem;
}

.image {
  padding: 2rem;
}

#profInformation {
  padding: 3rem;
}

#center {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: Roboto Thin;
  font-size: 20px;
}

#centerSmall {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: Roboto Thin;
  font-size: 20px;
}

#mainHeader {
  text-align:center;
}

#researchTopics {
  margin-right: 1rem;
}

.removeDefault {
  color: white;
}

.removeDefault:link {
  text-decoration: underline;
}

.removeDefault:visited {
  text-decoration: underline;
}

.removeDefault:active {
  text-decoration: underline;
}

.headerSeperator {
  margin-top: 0;
  margin-bottom: 0;
}

#emptyStar {
  font-size: 22px;
}

#row {
  display: flex;
  flex-direction: row;
}

.pushOff {
  margin-left: 3rem;
}

#width-100 {
  width: 100%;
}

.inline {
  display: inline;
}