@import "vars.css";
@import "layout.css";
@import "helpers.css";

form {
    margin: 0;
    width: 250px;
}

.create {
    color: #004525;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
}

.labelText {
    font-size: 11px;
}

.registerItem {
    padding: 8px 20px;
}

.inputElement {
    border: 2px solid black;
    padding: 8px 20px;
}

.submitButton {
    border: solid #dfc56e;
    background-color: #dfc56e;
    padding: 8px 80px;
}

.submitButton:hover {
    cursor: pointer;
    background-color: #c5a94d;
    border: solid #c5a94d;
}

.extraText{
    font-size: 11px;
    color: black;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;

}