<h1 id="pageHeader">Search Professors by Class</h1>
<h3 style="font-family: Roboto Thin">See what professors teach a class and what research the class can possibly lead into</h3>

<form method="POST" action="/search/classes" style="margin-left: 3em; margin-top: 3em; width: 33%">
  <label for="class_id" style="font-family: Roboto Black; float: left">Department</label>
  <input type="text" name="class_id" style="float: right"/> <br /><br />

  <label for="class_num" style="font-family: Roboto Black; float: left">Class Code</label>
  <input type="text" name="class_num" style="float: right"/> <br /><br />
  <input type="submit" class="submitButton" />
</form>
